@model COEADGroupManager.Models.AddGroupNewADGMGroupViewModel

@{
    ViewBag.Title = "NewADGMGroup";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">

    <div class="col-md-10 col-lg-10">

        <h4 class="coeH4">Add AD Managed Group</h4>

        @Model.nStatus

    </div>

</div>