@model COEADGroupManager.Models.MembersIndexViewModel

@{
    
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">

    <div class="col-md-10 col-lg-8">

        <h4 class="coeH4">AD Managed Group Members</h4>

        <br />
        <br />

        <p>@Model.miStatus</p>

    </div>

</div>
