@model COEADGroupManager.Models.ReportIndexViewModel

@{
    
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">

    <div class="col-md-6 col-lg-4">

        <h4 class="coeH4">AD Group Managers Report</h4>
        <br />

        <p>@Model.riStatus</p>

    </div>

</div>